html,
body {
    height: 100%;
    /* Убираем отступы и обеспечиваем полную высоту экрана */
    margin: 0;
}

.app {
    max-width: 1000px;
    margin: 0 auto;
    /* Центрирует контейнер по горизонтали */
    padding: 25px 15px;
    /* Объединенные отступы */
    text-align: center;
    /* Центрирует текст внутри контейнера */

    /* Flexbox стили для центрирования содержимого по вертикали */
    display: flex;
    flex-direction: column;
    /* Элементы располагаются в колонку */
    justify-content: center;
    /* Центрируем по вертикали */
    align-items: center;
    /* Центрируем по горизонтали */
    height: 100vh;
    /* Высота контейнера равна высоте экрана */
}